
android/app/build/outputs/apk/debug/app-debug.apk
android/app/build/outputs/apk/debug/app-debug.apk
android/app/build/outputs/apk/debug/app-debug.apk
*.apk
*.apk
android/app/build/outputs/apk/debug/app-debug.apk
